.card .card-content {
    padding: 0px 12px;
    border-radius: 0 0 2px 2px;
}

.groups-container .group {
  color:white
}

.input-container {
  height: 80px;
  /*background-color: grey;*/
  position:absolute;
  bottom:10px;
  margin-left: 5%;
  margin-right: 5%;
  width:65%;
}

.input-box{
  width:80%!important;
}

.messages-container{
  height:450px!important;
  overflow:scroll;
}

.logo{
  height: 50px;
  width: 50px;
  background-image: url('https://s3.amazonaws.com/hitribe/hitribe.jpg');
}
